*{
    padding:0;
    margin:0;
}
.head{
    width: 100%;
    background-color: rgb(231, 219, 53);
    height:5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#normie{
    width:30rem;
    height:15rem;

}
.normie-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40rem;
}